/* CONFIGURAÇÕES GERAIS */
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
	font-family: 'Quicksand', sans-serif;
}


/* CARD */
ion-card-title{
	color: rgba(255, 0, 0, 0.7);
	font-size: 1.5em;
}

ion-card-content{
	padding-bottom: 0;
	padding-top: 0;
}

ion-card-content p{
	padding: 2%;
}

/* SEÇÃO DE LIKES E DISLIKES */
.reaction{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.reaction div{
	padding: 2%;
	text-align: center;
}

/* AVISO DE SPOILER */
.spoiler{
	display: grid;
	grid-template-columns: 10% 90%;
	align-items: center;
	font-weight: bold;
}

.spoiler ion-icon{
	width: 80%;
	height: 80%;
}

/* DATA */
#date{
	margin-left: 73%;
}