.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

/* mudar a cor do título do card para vermelho */
ion-card-title{
	color: rgba(255, 0, 0, 0.7);
}

/* colocar todos os itens da lista de resources em negrito */
ion-label{
	font-weight: bold;
}
